# Common
SEIRA_PLATFORM=qq
SEIRA_OSTELLA_ENDPOINT=http://localhost:8721
SEIRA_SQLITE_PATH=./data/seira.db

# QQ (required when SEIRA_PLATFORM=qq)
SEIRA_QQ_APPID=
SEIRA_QQ_APPSECRET=
SEIRA_QQ_INTENTS=33554432

# Napcat (required when SEIRA_PLATFORM=napcat)
SEIRA_NAPCAT_WS_ENDPOINT=ws://127.0.0.1:3001
SEIRA_NAPCAT_HTTP_ENDPOINT=http://127.0.0.1:3000
SEIRA_NAPCAT_TOKEN=
